header{
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    width:auto;
    height: 100px;
    text-align: center;
    position: relative;
    color: yellow;
    font-size: xx-large;
}
 h2 {
   background-color: lightgreen;
   color: white;
   font-weight: bold;
   font-size: x-large;
}
h3{
    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: x-large;
}
h4{
    background-color:skyblue ;
    color: white;
    font-weight: bold;
    font-size: x-large;
}

p{
    font-weight: bold;
}
span{
    color: blue;
}